
body{
    font-family: 'Ubuntu', sans-serif;
    background-color: rgb(1, 1, 35)!important;
}

.font-ubuntu{
    font-family: 'Ubuntu', sans-serif;
}

.navbar{
    font-family: 'Ubuntu', sans-serif;
    background-color: transparent!important;
}

p{
    color: white;
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: 0!important;
}

.intro{
    margin-top: 10vh;
    font-size: 3.7vw;
}

.intro img{
    width: 35vw;
}

.gif{
    display: flex;
    justify-content: center;
}

.rule {
    width: 100%;
    border: 0px;
    background: rgb(156, 151, 241);
    height: 1.2px;
    margin: 60px 0px;
}

.card{
    transition: ease all 0.5s;
    width: 16rem!important;
    overflow: hidden;
    /* z-index: 1; */
}

.card-img-top{
    padding: 4px;
    height: 29vh;
}

.card-img-top,.card-body{
    z-index: 1!important;
}

.card:hover{
    transform: translateY(-20px);
    box-shadow: white!important;
}

.animation::before{
    content: '';
    position: absolute;
    width: 200px;
    height: 574px;
    left: 27px;
    top: -87px;
    background: linear-gradient(#00e5ff,#b400fb);
    animation: animate 10s linear infinite;
}
@keyframes animate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.card::after{
    content: '';
    position: absolute;
    inset: 2px;
    background-color: rgb(1, 1, 35);
    border-radius: 0px;
}

.btn-website{
    margin-top: 2vh;
}
